<h1>{{PageTitle}} {{employee.employeeName}}</h1>
<hr>
<table class="table table-hover table-striped">
    <tr>
        <th>Employee Id</th>
        <td>{{employee.employeeId}}</td>
    </tr>
    <tr>
        <th>Employee Name</th>
        <td>{{employee.employeeName}}</td>
    </tr>
    <tr>
        <th>Address</th>
        <td>{{employee.address}}</td>
    </tr>
    <tr>
        <th>City</th>
        <td>{{employee.city}}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>{{employee.email}}</td>
    </tr>
    <tr>
        <th>Contact No</th>
        <td>{{employee.phone}}</td>
    </tr>
    <!-- <tr>
        <th>Allocated Seats</th>
        <td>
            <div class="progress progress-striped active">
                <div class="progress-bar" [style.width]="project.strength+'%'"></div>
            </div>
        </td>
    </tr> -->
    <!-- <tr>
        <th>Logo</th>
        <td>
            <img [src]="event.logo" [alt]="event.eventName" [title]="event.description">
        </td>
    </tr> -->
</table>