<!--<h1 [innerText]="title"></h1>-->
<div class="container">
  <h1>{{title}}</h1>
<hr>
<!--<h5 [innerText]="subTitle"></h5>-->
<h5>{{subTitle}}</h5>
<div>
        <label>Enter the Project ID</label>
        <input type="text" [(ngModel)]="SingleProDetailID">
        <button (click)="SelectRecord()">Get Record</button>
    </div>

<table class="table table-hover table-striped">
    <thead>
        <!-- <tr>
            <th>Project Id</th>
            <th>Project Code</th>
            <th>Project Name</th>
            <th>Description</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Strength</th>
            <th>Logo</th>
        </tr> -->
        <tr>
            <th>Project Id</th>
            <th>Project Code</th>
            <th>Project Name</th>
            <th>Details here</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let project of projects1 | searchProject:SingleProDetailID">
            <td>{{project.projectId}}</td>
            <td>{{project.projectCode}}</td>
            <td>{{project.projectName}}</td>
            <!-- <td>{{project.description}}</td>
            <td>{{project.startDate}}</td>
            <td>{{project.endDate}}</td>
            <td>{{project.strength}}</td>
            <td>{{project.logo}}</td> -->
            <td><button class="btn btn-primary" (click)="onEventSelection(project)">Show Details</button></td>
            <!-- <td>hi</td> -->
        </tr>
    </tbody>
</table>
</div>

<hr>
<div *ngIf="selectedEvent.projectId>0">
    <app-project-details [project]="selectedEvent"></app-project-details>
</div>